.header-navigation,
.header-navigation * {
  box-sizing: border-box;
}
.header-navigation {
  height: 95px;
  position: relative;
  overflow: hidden;
}
.rectangle-1 {
  background: #ffffff;
  border-style: solid;
  border-color: rgba(217, 217, 227, 0.6);
  border-width: 1px;
  width: 1440px;
  height: 94px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-1171275306 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  width: 54px;
  height: 22px;
  position: absolute;
  left: 1110px;
  top: 36px;
}
.logo {
  width: 135px;
  height: 26px;
  position: absolute;
  left: 121px;
  top: 34px;
  overflow: visible;
}
.frame-1321314530 {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1097px;
  top: 36px;
}
.sign-in {
  color: var(--black-black-500, #000000);
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}
.line-301 {
  margin-top: -1px;
  border-style: solid;
  border-color: var(--black-black-50, #e6e6e6);
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 20px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.sign-up-for-free {
  color: var(--blue-blue-500, #6987cd);
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}
.nav {
  padding: 0px 8px 0px 8px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 411px;
  top: calc(50% - 12.5px);
}
.item-nav {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.home:hover {
  color: var(--black-black-500, #000000);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}
.frame-1321314590 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icons {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.frame-1321314592 {
  background: #ffffff;
  opacity: 0;
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 159px;
  height: 167px;
  position: absolute;
  left: 699px;
  top: 67px;
  box-shadow: var(
    --shadow-box-shadow,
    0px 24px 44px 0px rgba(226, 216, 239, 1)
  );
}
.frame-1321314591 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}
.item-nav2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icons2 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.frame-1321314593 {
  background: #ffffff;
  opacity: 0;
  padding: 24px 24px 0px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 849px;
  top: 67px;
  box-shadow: var(
    --shadow-box-shadow,
    0px 24px 44px 0px rgba(226, 216, 239, 1)
  );
}
.frame-13213145912 {
  padding: 0px 0px 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 111px;
  position: relative;
}
